<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util" 
  xmlns:cache="http://www.springframework.org/schema/cache"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
  ">

  <!-- spring自己的换管理器，这里定义了两个缓存位置名称 ，既注解中的value -->
  <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager" />

  <!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
  <cache:annotation-driven cache-manager="cacheManager" />

  <!-- redis 相关配置 -->
  <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
    <property name="master">
      <bean class="org.springframework.data.redis.connection.RedisNode">
        <property name="name" value="REDIS_SENTINEL" />
      </bean>
    </property>
    <property name="sentinels">
      <set>
        <bean class="org.springframework.data.redis.connection.RedisNode">
          <constructor-arg index="0" value="112.74.170.75" />
          <constructor-arg index="1" value="16379" />
        </bean>
        <bean class="org.springframework.data.redis.connection.RedisNode">
          <constructor-arg index="0" value="112.74.170.75" />
          <constructor-arg index="1" value="16380" />
        </bean>
      </set>
    </property>
  </bean>

  <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
    <property name="maxIdle" value="100" />
    <property name="maxTotal" value="4000" />
    <property name="testOnBorrow" value="true" />
  </bean>

  <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
    <property name="password" value="mnWcasH5zN5bncE57pBz" />
    <property name="usePool" value="true" />
    <property name="poolConfig" ref="jedisPoolConfig"></property>
    <constructor-arg ref="redisSentinelConfiguration" />
  </bean>

  <bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer" />

  <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
    <property name="connectionFactory" ref="jedisConnectionFactory" />
    <property name="keySerializer" ref="stringRedisSerializer" />
    <property name="hashKeySerializer" ref="stringRedisSerializer" />
    <property name="valueSerializer" ref="stringRedisSerializer" />
  </bean>
</beans>
